#### Exemplo 1

In [1]:
listaCompras = ['Leite', 'Pão', 'Ovos', 'Carne']

In [2]:
listaCompras

['Leite', 'Pão', 'Ovos', 'Carne']

In [3]:
listaCompras[1]

'Pão'

In [4]:
listaCompras.append('Macarrão')

In [5]:
listaCompras

['Leite', 'Pão', 'Ovos', 'Carne', 'Macarrão']

In [7]:
listaCompras.remove('Ovos')

In [8]:
listaCompras

['Leite', 'Pão', 'Carne', 'Macarrão']

In [9]:
listaCompras.append('Pão')

In [10]:
listaCompras

['Leite', 'Pão', 'Carne', 'Macarrão', 'Pão']

In [11]:
listaCompras.remove('Pão')

In [12]:
listaCompras

['Leite', 'Carne', 'Macarrão', 'Pão']

In [13]:
listaCompras.pop(0)

'Leite'

In [14]:
listaCompras

['Carne', 'Macarrão', 'Pão']

In [18]:
listaCompras.reverse()

In [19]:
listaCompras

['Pão', 'Macarrão', 'Carne']

#### Exemplo 2

In [20]:
listaCompras

['Pão', 'Macarrão', 'Carne']

In [22]:
tamanho = len(listaCompras)
tamanho

3

In [24]:
#Modo mais fácil
for i in listaCompras:
    print ('Registro ',i)

Registro  Pão
Registro  Macarrão
Registro  Carne

In [25]:
#Modo pelo índice
for i in range(len(listaCompras)):
    print ('Registro ', listaCompras[i])

Registro  Pão
Registro  Macarrão
Registro  Carne

#### Exemplo 3

In [26]:
listaCompras[-1]

'Carne'

In [27]:
len(listaCompras)

3

In [28]:
for i in range(3):
    print(listaCompras[3-i-1])

Carne
Macarrão
Pão

In [29]:
listaCompras.reverse()

In [30]:
for i in listaCompras:
    print ('Registro ',i)

Registro  Carne
Registro  Macarrão
Registro  Pão

#### Exemplo 4

In [33]:
type(listaCompras)

list

In [34]:
tuplaCompra = ('Leite', 'Pão', 'Ovos', 'Carne')

In [35]:
type(tuplaCompra)

tuple

In [36]:
tuplaCompra.append('Macarrão')

AttributeError: 'tuple' object has no attribute 'append'

#### Exemplo 5

In [37]:
dadosProfessor = {
    'Nome': 'Fábio',
    'Endereco': 'Rua das Aroeiras',
    'Telefone': '996309591'
}

In [38]:
type(dadosProfessor)

dict

In [40]:
dadosProfessor = {
    'Nome': ['Fábio', 'Anderson'],
    'Endereco': ['Rua das Aroeiras', 'Rua das Cachoeiras'],
    'Telefone': ['996309591', '991146586']
}

In [44]:
dadosProfessor.pop('Telefone')

['996309591', '991146586']

In [45]:
dadosProfessor

{'Nome': ['Fábio', 'Anderson'],
 'Endereco': ['Rua das Aroeiras', 'Rua das Cachoeiras']}

#### Exemplo 6

In [46]:
import pandas as pd

In [47]:
dadosProfessor = {
    'Nome': ['Fábio', 'Anderson'],
    'Endereco': ['Rua das Aroeiras', 'Rua das Cachoeiras'],
    'Telefone': ['996309591', '991146586']
}

In [48]:
dataFrameProfessor = pd.DataFrame.from_dict(dadosProfessor)

In [49]:
dataFrameProfessor

       Nome            Endereco   Telefone
0     Fábio    Rua das Aroeiras  996309591
1  Anderson  Rua das Cachoeiras  991146586